Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

*.sln
*.slnx
*.suo
*.xcodeproj
*.xcworkspace
*.VC.db
*.VC.VC.opendb

*.log
*.tmp

.DS_Store

.vscode/
.idea/
.Dev/

# Visual Studio cache
.vs/
*.ipch
FieryTale/Content/ParagonShinbi
FieryTale/Content/ParagonYin
FieryTale/Content/ParagonZinx
FieryTale/Content/ParagonMurdock
FieryTale/Content/ParagonRevenant
FieryTale/Content/ParagonLtBelica
FieryTale/Content/ParagonDekker
